:root {
	--blue: #0284c7;
	--dark: #1f2937;
	--lightgrey: #d9dee6;
	--yellow-orange: #efb32c;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html ul li {
	list-style: none;
}

body {
	height: 100vh;
}

svg {
	fill: white;
	height: 1.3rem;
	width: 1.3rem;
}


.container {
	/* outline: 2px solid red; */
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr 10fr;
}

.sidebar {
	grid-row: 1 / 4;
	display: grid;
	grid-template-rows: 0.5fr 2fr 4fr;
	padding: 0 22px 0 22px;
	background-color: var(--blue);
	min-height: 100vh;
	line-height: 1.8;
	color: white;
	font-weight: bold;
}

.logo-sidebar svg {
	fill: white;
	height: 2rem;
	width: 2rem;
}

.sidebar .logo-sidebar {
	display: inline-flex;
	align-items: center;
}

.sidebar-link ul li {
	display: flex;
	align-items: center;
}

.logo-sidebar svg {
	margin-right: 10px;
}

.sidebar-link ul li svg {
	margin-right: 15px;
}

.header {
	background-color: white;
	display: grid;
	grid-template-columns: 2fr 1fr;
	z-index: 1;
}

.input-search,
.user-notif-profile-name{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;	
}

.input-search svg,
.user-notif-profile-name svg {
	fill: var(--dark);
	height: 20px;
	width: 20px;
	margin-right: 1rem;
	margin-left: 40px;
}

.input-search input {
	padding: 0 10px 0 10px;
	width: 80%;
	height: 1.4rem;
	border: none;
	border-radius: 50px;
	background-color: var(--lightgrey);
}

.user-notif-profile-name .user-profile {
	fill: var(--yellow-orange);
	height: 2rem;
	width: 2rem;
}

.nav-bar {
	background-color: white;
	color: var(--dark);
	font-weight: bold;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.nav-bar-profile {
	display: flex;
	justify-content: flex-start;
	margin-left: 40px;
}

.nav-bar svg {
	fill: var(--yellow-orange);
	height: 2.5rem;
	width: 2.5rem;
	margin-right: 15px;
}

.nav-bar .nav-bar-buttons {
	display: flex;
	justify-content: space-evenly;
}

.nav-bar-buttons button {
	border: none;
	border-radius: 50px;
	background: var(--blue);
	color: white;
	padding: 8px 25px;
}

.container-inside {
	background-color: #d9dee6;
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
	padding: 30px 20px;
	z-index: -1;
}

.container-inside h4 {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--dark);
	margin: 10px;
}

.div-project {
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}

.projects {
	max-height: 100%;
	display: grid;
	grid-template-rows: 2fr 2fr 2fr;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.projects .project-box {
	background-color: white;
	width: auto;
	height: 200px;
	font-size: 0.865rem;
	padding: 20px;
	border-radius: 5px;
	border-left: 7px solid var(--yellow-orange);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.project-box svg {
	fill: var(--dark);
}

.project-box h5 {
	font-size: 1.009rem;
}

.project-box p {
	opacity: 0.7;
}

.div-announcement {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	height: 40vh;
}

.announcement-texts {
	padding: 10px;
	font-size: 0.9rem;
}

.announcement-texts p {
	opacity: 0.7;
}

.announcement-texts:not(:last-child) {
	border-bottom: solid var(--lightgrey);
}

.announcement-container,
.trending-container {
	background-color: white;
	height: 38vh;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	padding: 18px;
}

.div-trending {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	height: 40vh;
}

.trending-container {
	padding: 30px;
}

.trending-container .tending-col {
	display: flex;
	align-content: space-evenly;
}

.tending-col:not(:last-child) {
	padding-bottom: 30px;
}

.trending-container svg {
	fill: var(--yellow-orange);
	height: 2.3rem;
	width: 2.3rem;
	margin-right: 15px;
}

.trending-container h5 {
	font-size: 1rem;
}

.trending-container p {
	opacity: 0.7;
	font-size: 1rem;
}